# Ignore local class materials
class_materials/
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore environment files
.env
# Ignore Jupyter Notebook cache files
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.virtual_documents/